*{
  margin: 0, auto;
  padding: auto;
}

.register{
  height: 200px;
  weight: 200px;
  border: 2px solid black;
  display: inline-block;
}
.login{
  height: 100px;
  weight: 200px;
  vertical-align: top;
  border: 2px solid black;
  display: inline-block;
  margin-left: 100px;
}
.homeHeaderLinks{
  display: inline;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
